* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Baloo Bhai 2', cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2rem;
  background-color: #262626;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
}

ul {
  display: flex;
  list-style: none;
  color: #fff;
  gap: 2rem;
  position: fixed;
  right: 0;
  padding-right: 15px;

}

nav a {
  color: white;
  text-decoration: none;

}

a:hover {
  background-color: rgb(22, 22, 94);
  border-radius: 10px;
  padding: 10px;
}

.logo {
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2rem;
  color: #fff;
  margin-right: 700px;

}

.btn {
  margin-top: 30px;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  padding: 1rem 2rem;
}


img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://c0.wallpaperflare.com/preview/268/1020/890/black-and-white-clean-cleaning-housework.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#home {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 220px 200px;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  background: rgb(0, 0, 0, -5);
  height: 100vh;
}

.title {
  text-align: center;
  width: 100%;
  color: yellow;

}

#menu {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px 40px;
  background: rgb(245, 242, 242);
  min-height: 84vh;
}

.heading {
  background: rgb(245, 242, 242);
  color: #373333;
  margin-bottom: 30px;
  padding: 80px 0 30px 0;
  grid-column: 1/-1;
  text-align: center;
}

.heading>h3 {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
}

.card {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 10px 20px;
}

.card img {
  position: relative;
  width: 100%;
  height: 50vh;
  border-radius: 15px 15px 0 0;
}


.details {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 15px;
}

.details-sub {
  display: grid;
  grid-template-columns: auto auto;
}

.details-sub h3 {
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;
}

.details p {
  color: #6f6f6f;
  font-size: 15px;
  line-height: 25px;
  align-self: stretch;
}

.details button {
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  width: 180px;
}

#about {
  padding: 25px 0;
}

.about_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px;
}

.about_column {
  flex: 1;
}

#btn1 {
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 15px;
}

.about_column img {
  width: 500px;
  height: 500px;
  border-radius: 40%;
  object-fit: fill;
  margin: auto;
}

.title {
  color: #373333;
  margin-bottom: 30px;
  padding: 50px 0 25px 0;
  text-align: center;
}


#order {
  background: rgb(245, 242, 242);
  color: white;
  min-height: 84vh;
}

.title1 {
  color: #373333;
  margin-bottom: 30px;
  padding: 50px 0 30px 0;
  text-align: center;
}

form {
  width: 450px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgb(213, 212, 210);
  margin: auto;
  margin-top: -20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.inp_box {
  width: 350px;
  height: 37px;
  margin: 25px 45px 0 45px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #777;
  outline: none;
}

.text_area {
  height: 160px;
  padding-top: 10px;
}

.btn2 {
  border-radius: 20px;
  margin: 20px 45px;
  padding: 0 10px;
  width: 50%;
}

textarea {
  height: 150px;
  padding-top: 10px;
}

.btn2 {
  border-radius: 15px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;

}

button {
  background-color: rgb(22, 22, 94);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(94, 158, 61);
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  background-color: #262626;
  color: white;
}

.social-menu ul {
  position: absolute;
  left: 77%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 5px;
}
.social-menu ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: .3s;
  color: #000;
}
.social-menu ul li .fab:hover {
  color: #fff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(184, 9, 90, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #E4405F;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077b5;
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: #000;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #0077b5;
  color: white;
}

.modal-body {padding: 15px 16px;margin-top: 10px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #0077b5;
  color: white;
}
